<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ul id="error_msg">
 </ul>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :summary %><br />
    <%= f.text_field :summary %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :target_date %><br />
    <%= f.text_field :target_date, :class => 'date', 'data-value' => @project.target_date ? @project.target_date.to_s(:simple) : '' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



<script>
  var is_form_valid = function () {



    var display_error = function (input, msg) {
      $(input).parents(".field")
        .addClass("field_with_errors");

      $("#error_msg").append("<li>" + msg + "</li>");
      return false;
    }



    var is_title_valid = function () {
      var input = $("#project_title");
      var value = $(input).val().trim();
      $(input).val(value);

      if (value == "") return display_error(input, "Title cannot be blank");


      return true;
    }

    var is_summary_valid = function () {
      var input = $("#project_summary");
      var value = $(input).val().trim();
      $(input).val(value);

      if (value == "") return display_error(input, "Summary cannot be blank");


      return true;
    }



    var is_location_valid = function () {
      var input = $("#project_location");
      var value = $(input).val().trim();
      $(input).val(value);

      if (value == "") return display_error(input, "Location cannot be blank");

      return true;
    }

    //the prevent default was not working due to a syntax error on the date validation,
    //so I removed date field validation for now so that the form would not default to server.

    $("#error_msg").empty();
    $(".field_with_errors").removeClass("field_with_errors");

    var valid = true;
    valid *= is_title_valid();
    valid *= is_summary_valid();
    valid *= is_location_valid();
    return valid;
  }

  $("form").on("submit", function(e) {
    if (!is_form_valid()) {
      e.preventDefault();
    }
  });
</script>
