
<div id="right">
<h1>Projects</h1>


<div id='project_table'><%= render 'table' %></div>

<%= form_tag projects_path, :method => :get do %>
<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil, :class => 'btn btn-primary' %>
    </p>
<% end %>


<br />

<%= link_to 'New Project', new_project_path %>

</div>

<div id="left">

  <div id="droplist">
    <h3>List of Projects</h3>

    <ul>
      <% @projects.each do |project| %>
        <%= link_to project.title, project_path(project) %><br/>
      <% end %>
    </ul>
  </div>


</div>

<script>


  $(function(){
    $('#droplist ul').hide()
    $('#droplist h3').click(function(){
      $('#droplist ul').show();
      });
  });


</script>



